@using Elwin.GoGroceries.Client.Helpers;
@using Elwin.GoGroceries.Contracts;
@using Elwin.GoGroceries.Client.Components;
@inject HttpClient Http
@inject NavigationManager Navigation
@implements IDisposable
@page "/grocerylist/{id:guid}"

<style>
    /* MudBlazor overrides don't work in global or scoped css. I haven't managed to figure out why. This is a temporary workaround */
    h6 {
        margin-bottom: 0rem !important;
    }

    .mud-expand-panel-header {
        padding: 6px 12px !important;
    }
</style>

@if (categories is not null & groceryList?.Products is not null)
{
    @if (groceryList?.Products?.Count() > 0)
    {
        <MudPaper Width="100%">

            <MudExpansionPanels MultiExpansion="true" Dense="true" DisableGutters="true">
                @foreach (var category in categories)
                {
                    @if (groceryList.Products.Any(i => i.CategoryId == category.Id & !i.IsCheckedOff))
                    {
                        <MudExpansionPanel IsInitiallyExpanded="true" Style="@($"background-color: {category.ColorCode};")" Class="custom-panel-header">
                            <TitleContent>
                                <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 0rem !important;">
                                    <h6 style="display: flex; align-items: center; justify-content: space-between;">
                                        <div>@category.Name</div>
                                        <MudIcon Icon="@Icons.Material.Filled.Edit" Class="edit-icon" Size="Size.Small" @onclick="() => EditCategory(category.Id)" />
                                    </h6>
                                    <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Tertiary" @onclick="() => AddNew(category.Id)" Size="Size.Small" Style="margin-right: 1rem;"></MudIconButton>
                                </div>
                            </TitleContent>
                            <ChildContent>
                                <ul>
                                    @foreach (var item in groceryList.Products.Where(i => i.CategoryId == category.Id & !i.IsCheckedOff))
                                    {
                                        <ListProductComponent Product="item" OnEdit="EditProduct" OnDelete="Delete" OnClickListItem="ClickListItem"></ListProductComponent>
                                    }
                                </ul>
                            </ChildContent>
                        </MudExpansionPanel>
                    }
                }
                @if (checkedOffProducts.Count() > 0)
                {
                    <MudExpansionPanel Text="Checked off products" Class="custom-panel-header">
                        <ul style="text-decoration: line-through">
                            @foreach (var item in checkedOffProducts)
                            {
                                <ListProductComponent Product="item" OnDelete="Delete" OnClickListItem="ClickListItem"></ListProductComponent>
                            }
                        </ul>
                    </MudExpansionPanel>
                }
            </MudExpansionPanels>
        </MudPaper>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
            <MudButton Variant="Variant.Filled" Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="() => AddNew()">Add product</MudButton>
        </div>
    }
    else
    {
        <div style="display: flex; align-items: center; justify-content: center;">
            <MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="() => AddNew()">Add first product</MudButton>
        </div>
    }
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private GroceryListDto groceryList { get; set; } = new() { Products = new List<ProductDto>() };
    private IEnumerable<CategoryDto>? categories { get; set; }

    private IEnumerable<ProductDto> checkedOffProducts => groceryList.Products.Where(i => i.IsCheckedOff);

    private PeriodicTimer timer;

    protected override async Task OnInitializedAsync()
    {
        var categoriesRes = await Http.GetAsync($"Categories");
        categories = await HttpResultHelper.Process(categoriesRes, () => categoriesRes.Content.ReadFromJsonAsync<IEnumerable<CategoryDto>>());

        var groceryListRes = await Http.GetAsync($"GroceryLists/{Id}");
        groceryList = await HttpResultHelper.Process(groceryListRes, () => groceryListRes.Content.ReadFromJsonAsync<GroceryListDto>());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Only execute following code on first render or we block our component rendering cycle
        if (firstRender)
        {
            timer = new PeriodicTimer(TimeSpan.FromSeconds(30));

            while (await timer.WaitForNextTickAsync())
            {
                await SaveGroceryList();
            }
        }
    }

    protected void AddNew()
    {
        Navigation.NavigateTo($"/groceryList/{Id}/add");
    }

    protected void AddNew(Guid categoryId)
    {
        Navigation.NavigateTo($"/groceryList/{Id}/add/{categoryId}");
    }

    protected async void EditCategory(Guid id)
    {
        Navigation.NavigateTo($"/categories/{id}");
    }

    protected async void EditProduct(Guid productId)
    {
        Navigation.NavigateTo($"/{Id}/listProducts/{productId}");
    }

    protected async Task Delete(Guid productId)
    {
        var res = await Http.DeleteAsync($"GroceryLists/{Id}/{productId}");

        if (res.IsSuccessStatusCode)
        {
            groceryList?.Products?.Remove(groceryList.Products.Single(i => i.Id == productId));
            StateHasChanged();
        }
    }

    protected void ClickListItem(Guid productId)
    {
        var product = groceryList?.Products?.Single(i => i.Id == productId);
        product.IsCheckedOff = !product.IsCheckedOff;
        StateHasChanged();
    }

    public async void Dispose()
    {
        timer.Dispose();
        await SaveGroceryList();
    }

    public async Task SaveGroceryList()
    {
        var res = await Http.PutAsync($"GroceryLists", JsonSerializerHelper.Process(groceryList));

        if (!res.IsSuccessStatusCode)
        {
            // handle error in MainLayout
        }
    }
}
